In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
#Create DataFrame
data = {'TransactionAmount': [100, 150, 50, 100, 130, 120, 100, 85, 70, 150, 150, 120, 50, 100, 100, 140, 90, 150, 50, 90, 120, 100, 110, 75, 65]}
df = pd.DataFrame (data)
df

    TransactionAmount
0                 100
1                 150
2                  50
3                 100
4                 130
5                 120
6                 100
7                  85
8                  70
9                 150
10                150
11                120
12                 50
13                100
14                100
15                140
16                 90
17                150
18                 50
19                 90
20                120
21                100
22                110
23                 75
24                 65

In [3]:
#Central Tendency
import numpy as np 
print (np.mean(df))
print (np.median(df))

102.6
100.0

# Tulis analisismu dari Central Tendency di sini
Rata-rata data Transaction Amount adalah 102,6
Nilai tengah data Transaction Amount adalah 100

In [5]:
#Variability
import numpy as np
print (np.var (df))
print (np.std (df))
print (np.max (df))
print (np.min (df))
print (np.quantile(df, 0.25))
print (np.quantile(df, 0.5))
print (np.quantile(df, 0.75))

TransactionAmount    972.24
dtype: float64
TransactionAmount    31.180763
dtype: float64
150
50
85.0
100.0
120.0

C:\Users\Reksi Haloho\anaconda3\envs\tf-new\lib\site-packages\numpy\core\fromnumeric.py:3785: FutureWarning: The behavior of DataFrame.var with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return var(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)
C:\Users\Reksi Haloho\anaconda3\envs\tf-new\lib\site-packages\numpy\core\fromnumeric.py:3643: FutureWarning: The behavior of DataFrame.std with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

#Tulis analisismu dari Variability di sini
Variances data Transaction Amount adalah 972.24;
Standar Deviasi data Transaction Amount adalah 31.180763;
Nilai tertingi data Transaction Amount adalah 150;
Nilai terendah data Transaction Amount adalah 50;
Q1 data Transaction Amount adalah 85;
Q2/Mean data Transaction Amount adalah 100;
Q3 data Transaction Amount adalah 120;

In [7]:
#Define H0 and H1
#H0: Sales Force Training karyawan Sales tidak meningkatkan penjualan Perusahaan X (H0=100)
#H1: Sales Force Training karyawan Sales akan meningkatkan penjualan Perusahaan X (H1>100)

In [8]:
#Define alpha = 0.05

In [9]:
#Calculate t statistics and P-value
#Perform one sample t-test

stats.ttest_1samp(a = df, popmean=100)

TtestResult(statistic=array([0.40850016]), pvalue=array([0.68652848]), df=array([24]))

In [10]:
#statistic=0.40850016, pvalue=0.68652848

In [11]:
#Conclude with alpha and p-value
#karena nilai P-Value lebih besar dari (5%), maka kita gagal untuk menolak H0
#Conclusion: Sales Force Training kepada karyawan Sales tidak efektif karena rata-rata penjualan terbaru sama dengan 100

In [12]:
#Conclude with t statistics and critical region
#Find the critical region

In [13]:
#H1: Larger (right side)
stats.t.ppf (1-0.05, 24)

1.7108820799094275

In [14]:
#Critical region  t>1.73 but the result t=1.71
#karena hasil t-statistik tidak berada di area Critical Region, maka membuktikan gagal untuk menolak H0
#Conclusion: sales Force Training kepada karyawan Sales tidak efektif karena rata-rata penjualan terbaru sama dengan 100